$ORIGIN {{ ansible_domain }}.
$TTL 8600
@       IN        SOA      {{ ansible_hostname }}.{{ ansible_domain }}. {{ ansible_domain }}. (
                  50         ;  serial
                  604800     ;  Refresh after 1 week
                  3600       ;  Retry after 1 hour
                  604800     ;  Expire after 1 week
                  86400      ;  Minimum TTL of 1 day
         )
         IN        NS        {{ ansible_hostname }}.{{ ansible_domain}}.

{{ ansible_hostname }}    IN     A      {{ ansible_default_ipv4.address }}


{% if bootstrap_node is defined %}
{% for node in bootstrap_node %}
{{ node.name }}   IN     A   {{ node.ip }}
{% endfor %}
{% endif %}

{% for node in control_nodes %}
{{ node.name }}  IN    A    {{ node.ip }}
{% endfor %}

{% if compute_nodes is defined %}
{% for node in compute_nodes %}
{{ node.name }}  IN    A    {{ node.ip }}
{% endfor %}
{% endif %}

$ORIGIN {{ cluster }}.{{ ansible_domain }}.

{% if bootstrap_node is defined %}
{% for node in bootstrap_node %}
{{ node.name }}    IN   CNAME   {{ node.name }}.{{ ansible_domain }}.
{% endfor %}
{% endif %}


{% for node in control_nodes %}
{{ node.name }}    IN   CNAME   {{ node.name }}.{{ ansible_domain }}.
{% endfor %}

{% if compute_nodes is defined %}
{% for node in compute_nodes %}
{{ node.name }}    IN   CNAME   {{ node.name }}.{{ ansible_domain }}.
{% endfor %}
{% endif %}


{% if groups['secondary'] is defined %}
*.apps    IN     A   {{ vip }}
api       IN     A   {{ vip }}
api-int   IN     A   {{ vip }}
{% else %}
*.apps    IN     A   {{ ansible_default_ipv4.address }}
api       IN     A   {{ ansible_default_ipv4.address }}
api-int   IN     A   {{ ansible_default_ipv4.address }}
{% endif %}

