#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   https://www.haproxy.org/download/1.8/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    # utilize system-wide crypto-policies
    # ssl-default-bind-ciphers PROFILE=SYSTEM
    # ssl-default-server-ciphers PROFILE=SYSTEM

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

{% for port in master_ports %}
frontend {{ port.description }}
   bind *:{{ port.port }}
   default_backend {{ port.description }}
   mode tcp
   option tcplog

backend {{ port.description }}
   balance roundrobin
   mode tcp
{% if bootstrap_node is defined %}
{% for node in bootstrap_node %}
   server {{ node.name }} {{ node.ip }}:{{ port.port }} check
{% endfor %}
{% endif %}
{% for node in control_nodes %}
   server {{ node.name }} {{ node.ip }}:{{ port.port }} check
{% endfor %}

{% endfor %}

{% for port in worker_ports %}
frontend {{ port.description }}
   bind *:{{ port.port }}
   default_backend {{ port.description }}
   mode tcp
   option tcplog

backend {{ port.description }}
   balance roundrobin
   mode tcp
{% if cluster_install == '3 node' %}
{% for node in control_nodes %}
   server {{ node.name }} {{ node.ip }}:{{ port.port }} check
{% endfor %}
{% else %}
{% for node in compute_nodes %}
   server {{ node.name }} {{ node.ip }}:{{ port.port }} check
{% endfor %}
{% endif %}

{% endfor %}
