rootpassword password-changeme
timezone UTC
smuser smuser-changeme
smpassword smpass-changeme
# smpool 88df8fd8f08fasd09809808fds90db1b
smpool smpool-changeme
hostname tempest-FQDN-hostname-changeme
gateway gateway-IP-changeme
nameserver nameserver-IP-changeme
ntpserver clock.redhat.com

# Iface     IP			NETMASK
eth0        public-IP-changeme      eth0-NM-changeme
eth1        external-IP-changeme    eth1-NM-changeme
eth2        private-api-IP-changeme eth2-NM-changeme

# optional dependent on if you need a proxy 
# smproxy proxy_hostname:proxy_port
smproxy ""
smproxyuser ""
smproxypassword ""
tempestcommit origin/kilo
